extends layout

block content
  div#home
    h1 Home

    div.messages
      for message in messages
        div.message(class=( user && user.id == message.user._id ? 'user-message' : ''))
          div.image
            img(src='https://i.pinimg.com/736x/f8/84/7b/f8847b5a92b0e321d6df26ebaee9b39c.jpg')
          div.info
            div
              h3!= message.title
              p(class='content')!= message.content
            if (user && user.membership_status)
              div.info-footer
                p Posted by !{`<strong>@${message.user.username}</strong>`}
                p Date: !{message.timestamp.toLocaleDateString(undefined, { year: 'numeric', month: 'short', day: 'numeric' })}
            else
              div.info-footer
                p Posted by !{'<strong>Anonymous</strong>'}
                p Date: N/A

            if (user && user.admin)
              form(action='delete-message', method='post')
                input(type='hidden', name='messageid', value=(message._id))
                button(type='submit') Delete
